{% extends "base.html" %}
{% block title %} Customer Churn Prediction {% endblock title %}
{% block body %}
<style>
    body {
        background-image: url('/static/images/6.jpeg'); /* Replace 'path/to/your/image.jpg' with the actual path to your image */
        background-size: cover;
        background-position: center;
    }
    .container {
        background-color: rgba(255, 255, 255, 0.8); /* Add an overlay to make the form more readable */
        padding: 50px;
        border-radius: 20px;
        margin: 50px auto;
        max-width: 600px;
    }
    .form-label {
        color: #333;
        font-size: 18px;
    }
    .form-control {
        font-size: 16px;
        padding: 15px;
    }
    .btn-primary {
        font-size: 18px;
        padding: 15px 30px;
    }
</style>

<div class="container">
    <form method="POST" action="{% url 'predict_churn' %}">
        {% csrf_token %}
        <div class="mb-3">
            <label for="tenure_input" class="form-label">Tenure</label>
            <input type="number" step="0.1" class="form-control" id="tenure_input" name="tenure_input" placeholder="Enter tenure">
        </div>
        <div class="mb-3">
            <label for="age_input" class="form-label">Age</label>
            <input type="number" class="form-control" id="age_input" name="age_input" placeholder="Enter age">
        </div>
        <div class="mb-3">
            <label for="address_input" class="form-label">Address</label>
            <input type="number" class="form-control" id="address_input" name="address_input" placeholder="Enter address">
        </div>
        <div class="mb-3">
            <label for="income_input" class="form-label">Income</label>
            <input type="number" step="0.1" class="form-control" id="income_input" name="income_input" placeholder="Enter income">
        </div>
        <div class="mb-3">
            <label for="ed_input" class="form-label">Education</label>
            <input type="number" class="form-control" id="ed_input" name="ed_input" placeholder="Enter education">
        </div>
        <div class="mb-3">
            <label for="employ_input" class="form-label">Employment</label>
            <input type="number" class="form-control" id="employ_input" name="employ_input" placeholder="Enter employment">
        </div>
        <div class="mb-3">
            <label for="equip_input" class="form-label">Equipment</label>
            <input type="number" class="form-control" id="equip_input" name="equip_input" placeholder="Enter equipment">
        </div>
        <button class="btn btn-primary" type="submit">Submit</button>
    </form>
</div>
{% endblock body %}


